.arrow_cont{
    font-size:2rem;
    .arrow_top{
        position:fixed;
        z-index:1;
        top:12rem;
        right:2rem;
        background-color:$bleum;
        color: $blanc;
        padding:0.2rem 0.9rem 0.2rem 0.9rem;
        border-color: transparent;
        box-shadow: 0px 2px grey;
        border-radius:50%;
        @media screen and (max-width:768px) {
            right:0.5rem;
            padding:0.1rem 0.5rem 0.1rem 0.5rem;
        }
    }
    .arrow_up{
        position: fixed;
        z-index:1;
        top:15rem;
        right:2rem;
        background-color:$bleum;
        color: $blanc;
        padding:0.2rem 0.9rem 0.2rem 0.9rem;
        border-color: transparent;
        box-shadow: 0px 2px grey;
        border-radius:50%;
        @media screen and (max-width:768px) {
            right:0.5rem;
            padding:0.1rem 0.5rem 0.1rem 0.5rem;
        }
    }
    .arrow_down{
        position: fixed;
        z-index:1;
        top:28rem;
        right:2rem;
        background-color:$bleum;
        color: $blanc;
        padding:0.2rem 0.9rem 0.2rem 0.9rem;
        border-color: transparent;
        box-shadow: 0px 2px grey;
        border-radius:50%;
        @media screen and (max-width:768px) {
            top:29rem;
            right:0.5rem;
            padding:0.1rem 0.5rem 0.1rem 0.5rem;
        }
    }
    .arrow_bottom{
        position: fixed;
        z-index: 1;
        top:32rem;
        right:2rem;
        background-color:$bleum;
        color: $blanc;
        padding:0.2rem 0.9rem 0.2rem 0.9rem;
        border-color:transparent;
        box-shadow: 0px 2px grey;
        border-radius:50%;
        @media screen and (max-width:768px) {
            right:0.5rem;
            padding:0rem 0.5rem 0.2rem 0.5rem;
        }
    }
    .arrow_bottom::after{
        content:"";
        display:block;
        width:100%;
        height: 4px; 
        background-color: $blanc;
        margin:-8px auto 0 0;
        @media screen and (max-width:768px) {
            margin-top:-4px;
            height:2px;
        }
    }
    .arrow_top::before{
        content:"";
        display:block;
        width:100%;
        height: 4px; 
        background-color: $blanc;
        margin:0 auto;
        @media screen and (max-width:768px) {
            margin-bottom:-4px;
            height:2px;
        }
    }
    @media screen and (max-width:768px) {
        font-size: 1rem;
    }
}