.findGallery{
    margin-top:10rem;
    margin-bottom:5rem;
    text-align: center;
    min-height: 52vh;

    .findInput{
        margin-right: 1rem;
        margin-left: 1rem;
        @media screen and (max-width:768px) {
            margin-bottom: 1rem;
        }
    }

    .findInputBtn{
        @media screen and (max-width:768px) {
            margin:0 5.5rem 1rem;
        }
    }
    .imageGallery{
        margin-top:2rem;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .upImage{
            margin-top: 1rem;
            &:first-child{
                font-size: 2rem;
                font-weight: bold;
            }
        }
        .uploadTitre{
            width:40vw;
            @media screen and (max-width:768px) {
                width:60vw;
            }
        }
        .upImageBtn{
            padding:0.5rem 1.5rem;
            border-radius: 15px;
            background-color: $bleum;
            font-weight: bold;    
        }
    }

    .uplDirect{
        text-decoration: none;
        color:$noir;
        background-color: $bleum;
        border-radius: 15px;
        padding:1rem;
    }
    .uplDirectContent{
        margin: 4rem 0 4rem 0;
    }
    #search{
        margin-bottom: 2rem;
        @media screen and (max-width:768px) {
            display:flex;
            flex-direction: column;
            margin: 0 4rem;
        }
    }
}
