.login{
    margin-top:10rem;
    min-height:63vh;
    text-align: center;
    display:flex;
    justify-content: center;
    @media screen and (min-height:800px) {
        min-height:70vh;
    }
    .loginForm{
        position:relative;
        width:400px;
        @media screen and (max-width:768px) {
            width:400px;
        }
        background: linear-gradient(184deg, rgba(183,226,253,1) 0%, rgba(21,165,239,1) 100%);
        display:flex;
        flex-direction: column;
        height:250px;
        padding: 0 1rem 0 1rem;
        .inputLog:nth-child(2n+1){
            margin-top:1rem;
            text-align: left;
        }

    }
    .loginBtn{
        position:absolute;
        bottom:10%;
        left:50%;
        transform:translate(-50%,0);
        // margin-left: 3.2rem;
        width:6rem;
    
    }
    .loginError{
        margin-top:15rem;
    }
}