.pictComs{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.pComs{
    height:70px;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 3px 3px 4px grey;
    position:fixed;
    z-index: 2;
    bottom:3rem;
    text-align: center;
    padding:1rem 0.5rem 1rem 0.5rem;
}
.imgComs{
    margin: 15rem 0 0 0;
}
.inputCom{
    width:90vw;
    border-radius: 4px;
}
.parent{
    width:90%;
    background-color: $grisc;
    border-radius: 15px;
    padding:1rem 0.5rem 0.5rem 0rem;
}
.comContenair{
    margin-top:-1rem;
    width:90%;
    background-color:rgb(200, 197, 197);
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    @media screen and (max-width:768px) {
        margin-top:-1.5rem;
    }
}
.comContenairChild{
    margin-top:-1rem;
    padding-right: 1rem;
    width:85%;
    background-color:rgb(200, 197, 197);
    border-radius: 10px;
    display:flex;
    justify-content: space-between;
    @media screen and (max-width:768px) {
        margin-top:-1.5rem;
    }
}
.comCommentaire{
    margin-right:2rem;
    background-color: $bleu;
    color:white;
    padding:0 0.5rem 0 0.5rem;
    border-radius: 10px;
}
.comCommentaire:hover{
    cursor:pointer;
}
.comReaction{
    position:relative;
    margin-left:2rem;
    background-color: $bleu;
    color:white;
    padding:0 0.5rem 0 0.5rem;
    border-radius: 10px;
}
.comReaction:hover{
    cursor:pointer;
}
.parentReaction{
    display:none;
    padding:0 0 0 0.5rem;
    background-color:$grisc;
    border: 1px solid black;
}
// .comReaction:hover .parentReaction{
//     display:none;
// }
.text{
    @media screen and (max-width:768px) {
        font-size: 0.7rem;
    }
}
.child{
    width:85%;
    margin-left: 2rem;
}
.icone_comsChild{
    color:grey;
    width:82%;
    margin-top:-1.5rem;
    text-align:end;
}
.icone_coms{
    color: grey;
    width:82%;
    margin-top: -1.2rem;
    transform: translatey(-0.2rem);
    text-align: end;
}
span{
    margin-right:1rem;
}
.parentCom{
    width:90%;
    position:relative;
    z-index: 1;
    margin-top:1rem;
    margin-bottom:-1.3rem;
    font-weight: bold;
}
.tabul{
    width:85%;
}
.fa-solid{
    color:grey;
}
.parentReaction{
    position: absolute;
    margin-left:2.5rem;
    margin-top:1.2rem;
    z-index: 1;

}
.iconeR{
    color:black;
    margin-right:0.5rem;
}
.iconeRR{
    color:red;
    margin-right:0.5rem;
}