.signup{
    margin-top: 9rem;
    .signupContent{
        background: linear-gradient(184deg, rgba(183,226,253,1) 0%, rgba(21,165,239,1) 100%);
        margin: 0 22rem 2rem 22rem;
        @media screen and (max-width:768px) {
            margin:0 0 0 0;
        }
        padding: 2rem;
        .signupForm{
            display:flex;
            flex-direction: column;
    
            .inputsign{
                display:block;
                margin-bottom:1rem;
                width:97%;
            }
            
        }
    }

}
.signCity{
    display:flex;
    flex-direction: row;
    @media screen and (max-width:768px) {
        flex-direction: column;
    }
}
.signupCP{
    display:flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 1rem;
    margin-right:1rem;
}
.signupCP:nth-child(2){
    margin-left: -15rem;
}
.infoSign{
    display: flex;
    flex-direction:row;
}
.signupBtnContent{
    display:block;
    margin:2rem auto 0 ;
}
.lsBox{
    margin-right:1rem;
}
.infoSign{
    margin-bottom: 1rem;
}
.inputCity{
    width:98%;
}
.inputCP{
    width:30%;
}
.inputsignBD{
    margin-bottom: 1rem;
}
.inputsignTel{
    margin-bottom: 1rem;
}
.signupCity{
    @media screen and (max-width:768px) {
        margin-left:15rem;        
    }
}