.userMain{
    margin-top: 10rem;
    min-height: 62.8vh;
    text-align: center;
    @media screen and (min-height:800px) {
        min-height: 69.7vh;
        // font-size: 0.8rem;
    }
    @media screen and (max-width:768px) {
        font-size:0.7rem;
    }
    .userform{
        margin-right:1rem;
    }
    .opForm{
        line-height: 0.5rem;
    }
    .modifyForm{
        display:flex;
        flex-direction: column;
        max-width: 25%;
        margin:0 auto;
        background:linear-gradient(184deg, rgba(183,226,253,1) 0%, rgba(21,165,239,1) 100%);
        margin-bottom: 2rem;
        padding: 0 2rem;
        @media screen and (max-width:768px) {
            max-width:90%;
        }
        .userInpForm{
            margin-top: 2rem;
        }
        
        .textA{
            resize:none;
        }

    }
    .modifyForm:nth-child(n){
        margin-top: 2rem;
    }
    .uIFBtn{
        width:100px;
        margin: 0 auto 2rem;
    }
    
    .userShareInf{
        background-color: red;
        color: $blanc;
    }
    .userDelCont{
        background-color: $bleum;
        margin:3rem 15rem;
        @media screen and (max-width:768px) {
            margin: 3rem 1rem;
            display:flex;
            flex-direction: column;
            justify-content:start;
        }

        .userDel{
            margin:1rem 1rem;
            padding: 1rem 1rem;
            
            @media screen and (max-width:768px) {
                margin:1rem 1rem;
            }

            .userDelLab{
                @media screen and (max-width:768px) {
                    margin-left: 1rem;
                }
            }
        }
    }
    
    
}
.userVal{
    margin:0 1rem 1rem 1rem;
    width:100px;
}
.userValidate{
    text-transform: uppercase ;
}

.trombi{
    margin-top:4rem;
    display:flex;
    flex-wrap:wrap;
    .trombiImg{
        width:20%;
        @media screen and (max-width:768px) {
            width:50%;
        }
        .trombiPic{
            width:50%;
        }
    }
}
.searchPic{
    width:20%;
}
.profilForm{
    margin-top:2rem;
}
.prevCont{
    position:relative;
    .preview{
        width:20%;
        margin-top: 2rem;
        @media screen and (max-width:768px) {
            width:40%;
        }
    }
    .previewC{
        width:70vw;
        height: 350px;
        margin-top: 2rem;
    }
    .profilCheck{
        position:absolute;
        top:20%;
        color:green;
    }

}
.profileCont{
    margin-top:3rem;
}
.profileGest{
    text-align: center;
    display:flex;
    justify-content:space-between;
    width:70%;
    margin:0 auto;
    border: 1px solid black;
    background-color: #e9e9ed;
    @media screen and (max-width:768px) {
        width:90%;
    }

    .profCont{
        margin-top:1rem;
        margin-left: 1rem;;
        text-align: left;
        width:10%;
        text-transform: uppercase;
        @media screen and (max-width:768px) {
            width:20%;
            font-size: 0.55rem;
            margin-top: 1rem;
        }
    }
    .profCont:last-of-type{
        @media screen and (max-width:768px) {
            width:3%;
            text-align: right;
            margin:0.7rem 1rem;
            font-size: 0.8rem;
        }
        button{
            background: $grisc;
        }
    }
}
.profContVal{
    margin-top: 1rem;
    text-align: center;
    width:7%;
    @media screen and (max-width:768px) {
        width:14%;
        margin-top: 0.8rem;
    }
}
.profVal{
    width:100%;
    background-color: rgb(243, 153, 153);
}
.profInv{
    width:100%;
    background-color: rgb(127, 241, 127);
}
.profAdm{
    width:100%;
    background-color:$bleu;
    color: $blanc;
}
.profUse{
    width:100%;
    background-color: $jaune;
}